<footer>
  <div class="social-wrapper">
    <a
      title="doc-placeholder X (Twitter)"
      href="https://twitter.com/arthdotclub"
      target="_blank"
      ><i class="fa-brands fa-x-twitter"></i
    ></a>
    <a
      title="doc-placeholder Github"
      href="https://github.com/auralshin/arth"
      target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a
      href="https://arth.club"
      title="doc-placeholder Project Site"
      target="_blank"
      ><i class="fa-solid fa-globe"></i
    ></a>
  </div>
  <div class="credits">
    <p>
      Copyright © 2025 MIT by
      <a href="/" title="arth">Arth</a>
      <br />
      Built with
      <a
        href="https://github.com/nestjs/docs.nestjs.com"
        target="_blank"
        title="Based on NestJS docs framework"
      >NestJS docs framework</a>
    </p>
  </div>
</footer>
