<app-header (toggleSidebar)="toggleSidebar()" [isSidebarOpened]="isSidebarOpened">
  <div class="logo-wrapper">
    <a
      href="/"
      title="Documentation | Arth — knowledge hub for quant and math enthusiasts"
    >
      <img alt="Arth logo" [src]="logoSrc" />
      <span class="logo-divider">|</span>
      <span class="logo-text">Arth</span>
    </a>
  </div>
</app-header>
<div class="container-fluid">
  <app-menu [isSidebarOpened]="isSidebarOpened" class="app-menu"></app-menu>
  <div class="container" [class.wide]="!isSidebarOpened">
    <div class="page-wrapper">
      <app-toc [contentReference]="contentRef"></app-toc>
      <router-outlet (activate)="onRouteActivate($event)"></router-outlet>
    </div>
    <app-footer>
      <p>
        Made by
        <a
          href="https://anshulrai.dev"
          target="_blank"
          title="Anshul Rai | Blockchain Engineer"
        >
          Anshul Rai
        </a>
      </p>
    </app-footer>
  </div>
</div>
