@use '../../scss/utils';
@use '../../scss/variables';

.container-fluid {
  position: relative;
  display: block;
  table-layout: fixed;
  width: 100%;
  min-height: 100vh;
}

.logo-wrapper {
  svg,
  img {
    height: 42px;
    width: auto;
  }
}
.container {
  --container-horizontal-padding: 85px;
  @extend .transition;
  @extend .box-sizing;
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 85px var(--container-horizontal-padding) 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  vertical-align: top;
  position: relative;

  &.wide {
    margin-left: 0;
    width: 100%;
    display: flex;
  }

  @include utils.media(large) {
    --container-horizontal-padding: 50px;
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 85px var(--container-horizontal-padding) 0;
    &.wide {
      width: 100%;
      display: flex;
    }
  }
  @include utils.media(medium) {
    --container-horizontal-padding: 20px;
    //@include transform(translateX(0));
    margin-left: 0;
    width: 100%;
    padding: 85px var(--container-horizontal-padding) 0;
  }

  @media print {
    --container-horizontal-padding: 20px;
    margin-left: 0;
    width: 100%;
    padding: 0 var(--container-horizontal-padding) 0;
  }
}

.page-wrapper {
  color: var(--color);
  line-height: 26px;
  flex: 1 0 auto;

  a {
    font-weight: 600;
    color: var(--primary-3dp);
    &:hover {
      color: #0894e2;
    }
  }

  .content a {
    transition: none;
    @include utils.text-gradient();

    &:hover {
      background: #0894e2;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
    }
  }

  .content blockquote strong, .content blockquote a {
    -webkit-text-fill-color: unset !important;
    -webkit-background-clip: unset !important;
    background: none;

    &:hover {
      background: none;
    }
  }

  .content a:has(> code) {
    -webkit-text-fill-color: unset !important;
    -webkit-background-clip: unset !important;
    background: none;

    &:hover {
      background: none;
    }
  }

  .content .banner a {
    -webkit-text-fill-color: unset !important;
    -webkit-background-clip: unset !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-1dp);
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 45px 0 20px;
  }
  h4 {
    font-weight: 600;
    margin: 40px 0 -5px;
  }
  h3,
  h4 {
    a {
      @include utils.opacity(0);
      margin-left: 0.1em;
      padding: 0 0.25rem;
    }
    span:hover + a,
    span + a:hover,
    a:focus {
      @include utils.opacity(1);
    }
    &::before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 5em;
      margin-top: -5em;
      pointer-events: none;
    }
  }
  h5 {
    color: var(--color);
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  h3:first-of-type {
    margin: 20px 0;
  }
  h3 + h5 {
    margin-top: -10px !important;
  }
  p {
    // text-align: justify;
  }
}
.page-wrapper {
  flex: 1 0 auto;
}

.container app-footer {
  margin-top: auto;
  width: auto;
  margin-left: calc(-1 * var(--container-horizontal-padding));
  margin-right: calc(-1 * var(--container-horizontal-padding));
  padding-left: var(--container-horizontal-padding);
  padding-right: var(--container-horizontal-padding);
}

.toc-wrapper,
.content,
.companies-wrapper {
  display: inline-block;
  vertical-align: top;
}

.content,
.companies-wrapper {
  width: calc(100% - 220px);
  @media print {
    width: 100%;
  }
  @include utils.media(large) {
    width: 100%;
  }

  .row {
    display: flex;
    @include utils.media(normal) {
      display: block;
    }
  }

  .thumbnail {
    width: 400px;

    @include utils.media(normal) {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
    }

    img {
      max-width: 100%;
      padding-top: 10px;
      padding-bottom: 0;
      box-sizing: border-box;
    }

    &.p-l-30 img {
      padding-left: 30px;

      @include utils.media(normal) {
        padding-left: 0;
      }
    }

    &.p-r-30 img {
      padding-right: 30px;

      @include utils.media(normal) {
        padding-right: 0;
      }
    }
  }

  .content {
    flex-basis: 55%;
  }

  .contact-us {
    background: var(--primary);
    color: #fff;
    padding: 20px 30px;
    border-radius: 3px;
    margin: 35px 0;
    display: flex;
    align-items: center;

    @include utils.media(medium) {
      display: block;
      text-align: center;
      p {
        text-align: center;
      }
    }

    h5 {
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      margin: 0;
    }
    p {
      margin: 0;
    }
    a {
      background: #fff;
      border: 2px solid #fff;
      box-sizing: border-box;
      padding: 8px 16px;
      border-radius: 4px;
      float: right;
      display: block;
      text-align: center;

      &:hover {
        background: transparent;
        color: #fff;
      }

      @include utils.media(medium) {
        width: 150px;
        margin: 15px auto 0;
        float: none;
      }
    }

    .column {
      justify-content: center;
      flex-direction: column;
    }
    .column-text {
      flex-grow: 3;
      margin-right: 20px;
    }
  }
}

.github-links {
  float: right;
  margin-top: 24px;

  svg {
    font-size: 17px;
    color: var(--color-1dp);
  }

  a:hover svg {
    color: var(--primary);
  }
}

.toc-wrapper {
  @include utils.media(large) {
    display: none;
  }
}

.company-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
}

.company-logo img {
  max-width: 130px;
  max-height: 60px;
  padding: 6px;
  -webkit-filter: var(--company-filter);
  filter: var(--company-filter);
  opacity: var(--company-logo-opacity);
  
  &:hover {
    -webkit-filter: var(--company-filter-hover);
    filter: var(--company-filter-hover);
    opacity: 1;
  }
}

.companies-list a {
  color: var(--color);
  font-size: 15px;
  font-weight: 400;
}

// #carbonads a {
//   color: inherit;
//   text-decoration: none;
//   font-weight: 400;
// }
//
// #carbonads a:hover {
//   color: inherit;
// }
//
// #carbonads span {
//   display: block;
//   overflow: hidden;
// }
//
// #carbonads_1,
// #carbonads_2 {
//   display: none;
// }
//
// .carbon-img {
//   display: block;
//   margin: 0 auto 8px;
//   line-height: 1;
// }
//
// .carbon-text {
//   display: block;
//   margin-bottom: 8px;
// }
//
// .carbon-poweredby {
//   text-transform: uppercase;
//   display: block;
//   font-size: 10px;
//   letter-spacing: 1px;
//   line-height: 1;
// }
//
// .carbon-wrapper {
//   #carbonads {
//     position: fixed;
//     z-index: 11;
//     display: block;
//     right: 65px;
//     bottom: 20px;
//     overflow: hidden;
//     padding: 1em;
//     background: var(--background-2dp) !important;
//     text-align: center;
//     line-height: 1.5;
//     font-size: 13px;
//     max-width: 130px;
//   }
//
//   @include utils.media(large) {
//     #carbonads {
//       margin: 16px 0 16px 16px;
//       padding: 12px;
//       float: right;
//       position: static;
//     }
//   }
//
//   @include utils.media(normal) {
//     #carbonads {
//       margin: 16px 0 16px 16px;
//       padding: 12px;
//       text-align: left;
//     }
//   }
//
//   @media (max-width: 360px) {
//     #carbonads {
//       display: none;
//     }
//   }
//
//   @media print {
//     display: none;
//   }
// }
