@import '../../../scss/utils.scss';

:host {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.social-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    @extend .transition-fast;
    display: inline-flex;
    color: #fff;
    font-size: 18px;
    cursor: pointer;

    .discord-icon {
      fill: #fff;
      position: relative;

      &:hover {
        fill: var(--primary);
      }
    }

    &:first-of-type {
      font-size: 20px;
    }
    &:hover {
      color: var(--primary);
    }
  }

  @include media(small) {
    a {
      display: none;
    }
  }
  
  @media print {
    display: none;
  }
}
